.list {
  display: flex;
  justify-content: center;
  width: 100%;
  justify-content: space-around;
  list-style-type: none;
  font-size: large;

  .item {
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
    margin-top: 1%;

    a {
      color: white;
      text-decoration: none;
    }
  }
}
