.container {
  height: 200px;
  width: 200px;
  border: 1px solid grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .text {
    font-size: 1.7em;
    margin: 2%;
  }

  .created {
    font-size: 1em;
    margin: 2%;
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  button {
    width: 60px;
    height: 40px;
    background-color: grey;
    color: white;
    font-weight: 800;
    border-radius: 5%;
  }
}
