.container {
  height: 200px;
  width: 300px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  button {
    width: 70px;
    height: 40px;
    background-color: grey;
    color: white;
    font-weight: 800;
    border-radius: 5%;
  }

  input,
  label {
    display: block;
  }
}
